extends layout

block content
  h1.compare-stats=title
  div
    a(href='players') Back to Players
  div.compare-stats
    table.our-stats
      thead
        tr
          th Games Played:&nbsp;
            =gamesPlayed
          th=name1
          th=name2
      tbody
        tr
          td GAMES WON
          td=gw1
          td=gw2
        tr
          td WIN RATE
          td=wr1 + '%'
          td=wr2 + '%'
        tr
          td HIGHEST WINNING POINT DIFFERENCE
          td=pd1
          td=pd2
        tr
          td AVERAGE WINNING POINT DIFFERENCE
          td=avgpd1
          td=avgpd2
        tr
          td LONGEST WIN STREAK
          td=ws1
          td=ws2
    div.comments
      p --------- Game Commentary ---------
      for comment in comments
        if comment[2] != ''
          p Date:&nbsp;
              =comment[0]
          p Comments:&nbsp;
              =comment[2]
          p --------------------------------------------
