extends layout

block content
  h1.leader= title
  a(href='/add') Add Game Stats!
  div.leaderboard 
    table.stats
      thead
        tr
          th(colspan='2') GAMES WON
      tbody
        tr
          td=gameName1
          td=gameCount1
        tr
          td=gameName2
          td=gameCount2
        tr
          td=gameName3
          td=gameCount3
        tr
          td=gameName4
          td=gameCount4
        tr
          td=gameName5
          td=gameCount5
    table.stats
      thead
        tr
          th(colspan='2') WIN RATE
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') GAMES PLAYED
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') WINNING PT MARGIN
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') CONSECUTIVE WINS
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
    table.stats
      thead
        tr
          th(colspan='2') OPPONENTS BEATEN
      tbody
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
        tr
          td
          td
