extends layout

block content
  h1.leader= title
  a(href='/add') Add Game Stats!
  div.leaderboard 
    table.stats
      thead
        tr
          th(colspan='2') GAMES WON
      tbody
        for player, index in gamesWon
          if index < 5
            tr
              td=player[0]
              td=player[1]
    table.stats
      thead
        tr
          th(colspan='2') WIN RATE
      tbody
        for player, index in winRates
          if index < 5
            tr
              td=player[0]
              td=player[1] + '%'
      
    table.stats
      thead
        tr
          th(colspan='2') GAMES PLAYED
      tbody
        for player, index in gamesPlayed
          if index < 5
            tr
              td=player[0]
              td=player[1]
    table.stats
      thead
        tr
          th(colspan='2') WINNING PT DIFF
      tbody
        for player, index in ptDiff
          if index < 5
            tr
              td=player[0]
              td=player[1]
    table.stats
      thead
        tr
          th(colspan='2') CONSECUTIVE WINS
      tbody
        
    table.stats
      thead
        tr
          th(colspan='2') OPPONENTS BEATEN
      tbody
        
