extends layout

block content
  div.add-stats
    h1.new-stats= title
      span.white-link
        a(href='/') |Return Home|
        &nbsp;
        a(href='/leaderboard') |View Leaderboard|
        &nbsp;
        a(href='/players') |Player Stats|
    for error in errors
      p.error= error
    form(action='/add' method='post')
      div#required *required
      div
        label(for='player1') 
          span.required *
          |Player 1: 
        select(id='player1' name='player1')
          option(selected=player1==undefined disabled value='choose') Choose Player
          for name in names
            option(value=name selected=player1==name) 
              =name
      div
        label(for='player2') 
          span.required *
          |Player 2: 
        select(id='player2' name='player2')
          option(selected=player1==undefined disabled value='choose') Choose Player
          for name in names
            option(value=name selected=player2==name) 
              =name
      div
        label(for='points') 
          span.required *
          |Played to How Many Points? 
        input(type='number' id='points' name='points' min= 2 max=21 value=points ? points : '')
      div#winner 
        span.required *
        span.label WINNER:
        input.css-checkbox(type='radio' id='one-won' name='winner' value='one-won' checked=winner=='one-won')
        label.css-label#name1(for='one-won') 
        input.css-checkbox(type='radio' id='two-won' name='winner' value='two-won' checked=winner=='two-won')
        label.css-label#name2(for='two-won')
      div
        span.label SCORE:
        input(type='number' id='player1-score' name='p1_score' min= 0 value = p1Score ? p1Score : '')
        label#score1(for='player1-score') 
        input(type='number' id='player2-score' name='p2_score' min= 0 value = p2Score ? p2Score : '')
        label#score2(for='player2-score') 
      div
        label(for='date') 
          span.required *
          |Date:
        input(type='date' id='date' name='date' min='2015-05-18' value= date ? date : '')
      div
        label(for='time') Time:
        input(type='time' id='time' name='time' value= time ? time : '')
      div
        label(for='comments') Comments?
        textarea(id='comments' name='comments')
          =comments ? comments : ''
      div
        input#submit(type='submit' value='RECORD STATS')
  script(src='../../javascripts/client.js' type='text/javascript')          
